<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Drawing app</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>
    <h2>Draw a digit in the box below</h2>
    <section class="container">
        <div class="drawing-board">
            <canvas  id="drawing-board"></canvas>
        </div>
        <div id="toolbar">
            <table>
                <tr>
                    <td><button id='clear'>Clear</button></td>
                    <td><button id='submit' type='submit'>Submit</button></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><h2 style="color:green">Ans</h2></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">  
                        <div  class="output" id="output">
                            <span id="answer">Answer </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div> 
    </section>
    <script src="../static/index.js"></script>
    
</body>
</html>